.news__items {
    padding: 60px 0;    
    max-width: 85%;
    margin: auto;
    display: grid;
    justify-content: space-between;
    grid-row-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(0, 32%));
    
}
@media screen and (max-width:425px) {
    .news__items{        
        grid-template-columns: repeat(auto-fill, minmax(0, 100%)); 
    }
}
@media screen and (max-width:1024px) {
    .news__items{
        padding: 30px 0;        
    }
}
